{% extends 'admin_html.html' %}
{% block navbar %}
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-fixed">
      <div class="list-group list-group-flush mx-3 w-45" style="margin-top: 42px;">
        <a href="dashboard" class="list-group-item list-group-item-action py-2 ripple mt-3" style="text-decoration:none ;" aria-current="true"><i class="fa-sharp fa-solid fa-house"></i> <span>Dashboard</span></a>
        <a href="users" class="list-group-item list-group-item-action py-2 ripple mt-3"><i class="fa-sharp fa-solid fa-user"></i> <span>Users</span></a>
        <a href="product" class="list-group-item list-group-item-action py-2 ripple mt-3"><i class="fa-solid fa-cart-shopping"></i> <span>Products</span></a>
        <a href="oders" class="list-group-item list-group-item-action py-2 ripple mt-3">
          <i class="fa-solid fa-bolt"></i> <span>Oders</span></a>
          <a href="coupon!0" class="list-group-item list-group-item-action py-2 ripple mt-3">
            <i class="fa-solid fa-bolt"></i> <span>Coupon</span></a>
            <a href="salesreport" class="list-group-item list-group-item-action py-2 ripple mt-3">
              <i class="fa-sharp fa-solid fa-flag"></i> <span>sales Report</span></a>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
  <main id="main" class="w-75">
    <div class="container pt-4 text-info d-flex justify-content-between">
      <h3 style="margin: 10px 0px 30px 40px;">SALES REPORT</h3>
      <a href="salesreport?id=1"><button class="btn btn-secondary h-50">Summary</button></a>
    </div>
    <table id="example" class="display border border-dark p-3" style="width:100%">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Sold Quatity</th>
          <th scope="col">Price</th>
          <th scope="col">Tot-Price</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.soldqn }}</td>
            <td>{{ product.price }}/-Rs</td>
            <td>{{ product.totprice}}/-Rs</td>
            <td>
              <img style="height:80px;" src="/media/{{ product.img }}" />
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable()
    })
  </script>
{% endblock %}